@import url('../abstract/abstracts.css');

.logout-btn {
   display: inline-block;
   border-radius: var(--border-rad);
   color: var(--orange-800);
   padding: 0.75rem 2rem;
   border: var(--border-width) solid var(--orange-800);
   height: 100%;
   font-size: var(--font-link);
   font-weight: var(--weight-link);
   background: linear-gradient(
      80deg,
      var(--bg-light) 40%,
      var(--orange-800) 75%
   );
   background-size: 500%;
   background-position-x: left;
   transition: var(--trans-btn-leave);
   cursor: pointer;

   &:hover,
   &:focus-visible {
      background-position-x: right;
      color: var(--bg-light);
      transition: var(--trans-btn-hov);
   }

   &.hidden {
      display: none;
   }
}
